<!-- Footer -->
<footer>
    <div class="container text-center">
        <p class="credits">
            Since by <i class="fa fa-love"></i><a href="https://bootstrapthemes.co">1994</a>
        </p>
    </div>
</footer>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <br>
        </div>
        <div class="modal-body mx-3">
            <div class="md-form mb-5">
                <i class="fas fa-user prefix grey-text">ID</i>
                <input type="text"  class="form-control validate" id="loginId">
                <br>
            </div>

            <div class="md-form mb-4">
                <i class="fas fa-lock prefix grey-text">PASSWORD</i>
                <input type="password"  class="form-control validate" id="password">
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <a href="./signUp.html" class="btn btn-primary">SIGN-UP(회원가입)</a>
            <a href="#" class="btn btn-danger" onclick="login();">Login</a>
        </div>
    </div>
</div>
</div>
