<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll " href="index.html">
                SALCHO </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav ">
                <li>
                    <a href="./index.html"><h5>Home</h5></a>
                </li>
                <li>
                    <a href="./board.html"><h5>Board</h5></a>
                </li>
                <li>
                    <a href="./sendMail.html"><h5>Contact</h5></a>
                </li>
                <!-- <li>
                    <a href="./ponyo.html"><h5>Ponyo Say</h5></a>
                </li>-->
                <li>
                    <a href="./ponyoRace.html"><h5>race Game</h5></a>
                </li>
                <li id="login">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#modalLoginForm" ><h5>Login</h5></a>
                </li>
                <li id="myInfo" class="done">

                </li>
                <li  id="logOut" class="done">
                    <a href="javascript:void(0);" onclick = "signOut()"   ><h5>LogOut</h5></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
